.swiper {
  width: $container-lg;

  .swiper-wrapper {
    // To bring swiper pagination down
    margin-bottom: 4rem;

    .swiper-slide {
      @include gradientBackground;
      margin-top: 2rem;
      padding: 1.5rem 1rem;
      border-radius: 2rem;
      cursor: default;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      text-align: center;

      object-fit: cover;

      p {
        margin-bottom: 1rem;
      }

      .patient {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: row;

        .avatar {
          width: 2.5rem;
          // to make the 'height' the same as the 'width' using 1/1
          aspect-ratio: 1/1;
          border-radius: 50%;
          // to hide what around the circular avatar
          overflow: hidden;
          display: block;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

// ====================== Media Queries (Medium Devices) ======================
@media screen and (max-width: 1024px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
        width: 90%;
      }
    }
  }
}
// ====================== Media Queries (Small Devices) ======================
@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      p {
        margin: 1rem;
      }
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}
